<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <p>
          {% if site.spec_version %}Spec version: <strong>{{ site.spec_version }}</strong><br>{% endif %}
          Last built: <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%Y-%m-%d" }}</time><br>
          License: <a href="/LICENSE">{{ site.license | default: 'MIT' }}</a>
        </p>
      </div>

      <div class="footer-col footer-col-3">
        <div class="social-links">{%- include social.html -%}</div>
      </div>

    </div>

  </div>

</footer>
