---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Custom footer width adjustments
.site-footer {
  .footer-col-wrapper {
    @media screen and (min-width: $on-large) {
      .footer-col-1 {
        width: calc(50% - (#{$spacing-unit} / 2));
      }

      .footer-col-2 {
        width: calc(50% - (#{$spacing-unit} / 2));
      }
    }
  }
}
